body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}

#hero {
    width: 690px;
    margin: 0 auto 60px;
}

#hero img {
    margin-bottom: 25px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 49px;
    color: #000;
    line-height: 56px;
    font-weight: normal;
    margin-bottom: 20px;
}

h1 span {
    font-weight: bold;
}

span,
a {
    color: #FF9900;
}

p {
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
}

#footer a+a {
    margin-left: 28px;
}

#footer {
    margin-bottom: 1px;
}

.line {
    width: 568px;
    height: 0;
    border: 1px #eceff2 solid;
    margin: 0 auto 8px;
}

#bolls {
    position: fixed;
    bottom: 0px;
    right: 0px;
}